@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: rgb(22, 22, 22);
}

body {
  font-family: monospace;
}

.nunito {
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.01em;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.35);
}

dialog table th {
  @apply p-2 pr-4;
}

dialog table td {
  @apply p-2 pl-4 opacity-70;
}

dialog table {
  @apply border-collapse;
}

dialog table td,
dialog table th {
  @apply border border-[rgba(255,255,255,0.25)];
}

dialog table tr:first-child th,
dialog table tr:first-child td {
  @apply border-t-0;
}

dialog table tr:last-child th,
dialog table tr:last-child td {
  @apply border-b-0;
}

dialog table tr td:first-child,
dialog table tr th:first-child {
  @apply border-l-0;
}

dialog table tr td:last-child,
dialog table tr th:last-child {
  @apply border-x-0;
}

#examples ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
